<div style="text-align: center;">
    <button class="btn" onclick="ShowDiv('upload_query_div')">Upload Query</button>&nbsp
    <button class="btn" onclick="ShowDiv('generate_query_div')">Generate Query</button>&nbsp
    <button class="btn" onclick="ShowDiv('discover_table_div')">Discover</button>&nbsp
    <button class="btn" onclick="ShowDiv('integrate_table_div')">Integrate</button>&nbsp<br>
  </div>
  <div style="text-align: center;">
    <p style="text-align: center;">Here is a demonstration video of the system.</p><br>
   <!-- <iframe src="https://drive.google.com/file/d/1hFWq5QkGFigBURcwVebBtZi5R5Xv9rfq/preview" width="600" height="300" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  </div>
  </div>

  <div class="col-md-2 col-sm-2 col-lg-2"></div>
  </div>
  <div></div>
</div><!-- end container -->
<!-- Link to Bootstrap JavaScript files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
function ShowDiv(divId) {
  // Hide all containers
  var initial = document.getElementById("initial_container")
  initial.style.display = "none";
  var containers = document.getElementsByClassName("display_options");
  for (var i = 0; i < containers.length; i++) {
    containers[i].style.display = "none";
  }

  // Show the selected container
  var selectedDiv = document.getElementById(divId);
  selectedDiv.style.display = "block";
}
</script>