<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DIALITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <button class="btn" onclick="ShowDiv('upload_query_div')">Upload Query</button>
        </li>
        <li class="nav-item">
          <button class="btn" onclick="ShowDiv('generate_query_div')">Generate Query</button>
        </li>
        <li class="nav-item">
          <button class="btn" onclick="UpdateAvailableQuery(); ShowDiv('discover_table_div');">Discover</button>
        </li>
        <li class="nav-item">
          <button class="btn" onclick="UpdateIntegrationSets(); ShowDiv('integrate_table_div')">Integrate</button>
        </li>
        <li class="nav-item">
          <button class="btn" onclick="UpdateAnalyzeTables(); ShowDiv('analyze_table_div')">Analyze</button>&nbsp<br>
        </li>
      </ul>
    </div>
  </nav>