<!DOCTYPE html>
<html>
  <head>
{% include 'partials/header.html' %}

</head>
<body>
{% include 'partials/navigation.html' %}
  <!-- Page Content -->
  <div class="container-fluid">
    <h3 style="text-align: center;">DIALITE: Discover, Align and Integrate Open Data Tables</h3>
    <hr>
      <div id="notification"></div>
      <div id="initial_container">
        <div class="row">
        <div class="col-md-2 col-sm-2 col-lg-2"></div>
        <div class="col-md-8 col-sm-8 col-lg-8">
        <p style="text-align: justify;"> Abstract: We demonstrate a novel table discovery pipeline called DIALITE that allows users to discover, integrate and analyze open data tables. DIALITE has three main stages. First, it allows users to discover tables from open data platforms using state-of-the-art table discovery techniques. Second, DIALITE integrates the discovered tables to produce an integrated table. Finally, it allows users to analyze the integration result by applying different downstreaming tasks over it. Our pipeline has a flexible architecture such that the user can easily add and compare additional discovery and integration algorithms.</p>
        <p>Related Paper: Aamod Khatiwada, Roee Shraga, and Renée J. Miller. DIALITE: Discover, Align and Integrate Open Data Tables. In SIGMOD-Companion 2023, ACM.
          <a target="_blank" href="https://doi.org/10.1145/3555041.3589732">https://doi.org/10.1145/3555041.3589732</a></p>
      </div>
        <div class="col-md-2 col-sm-2 col-lg-2"></div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-2 col-sm-2 col-lg-2"></div>
      <div class="col-md-8 col-sm-8 col-lg-8">
        <div id="upload_query_div" class="display_options">
          <h3 style="text-align:center;">Add Query Table</h3><br>
            <form enctype="multipart/form-data">
              <!-- <div class="row form-group">
                <div class="col-md-4">
                  <label>Name query table</label>
                </div>
                <div class="col-md-8">
                <input type="text" name="upload_query_name" class="form-control" id="upload_query_name" placeholder="Enter table name without extension." required>
                </div>
              </div> -->
              <div class="row form-group">
                <div class="col-md-4">
                  <label>Select Table</label>
                </div>
                <div class="col-md-8">
                  <input type="file" name="query_table" id="query_table" accept=".csv" required>
                </div>
                </div>
                <button class="btn btn-success form-control" name = "upload_query" id="upload_query">Upload Table</button>
            </form>
        </div>
        <div id="generate_query_div" class="display_options">
          <h3 style="text-align:center;">Generate Query table</h3>
          <form>
            <div class="row form-group">
                <div class="col-md-4">
                  <label>Name query table</label>
                </div>
                <div class="col-md-8">
                <input type="text" name="generated_query_name" class="form-control" id="generated_query_name" placeholder="Enter table name without extension." required>
                </div>
            </div>
            <div class="row form-group">
              <label>Enter a prompt to generate Query table. An example prompt is provided.</label>
              <textarea rows="3" id="query_prompt" name="query_prompt" class="form-control" style="resize:null" required>Generate a table about soccer players with 10 rows and 10 columns.</textarea>
              <button id="submit_prompt" class="btn btn-success form-control">Generate Query Table</button>
            </div>
          </form>
          <div id="generating_table" style="display: none;">
            <p style="text-align: center; color: blue;">Generating Table. Please wait!!!</p>
          </div>
          <div id="generated_table" style="width: 100%; overflow-x: auto; overflow-y: scroll;"></div>
        </div>
        <div id="discover_table_div" class="display_options">
          <h3 style="text-align:center;">Discover Tables</h3>
          <form id="discover_tables_form">
            <div class="row form-group">
              <div class="col-md-4">
                <label for="dropdown">Select Query Table:</label>
              </div>
              <div class="col-md-8">
                <select id="discover_query" class = "form-control" name="discover_query">
                  <option disabled selected>--Select Query Table--</option>
                  {% for table in query_tables %}
                    <option value="{{table}}">{{table}}</option>
                  {% endfor %}
                  <!-- <option value="covid19">covid19.csv</option>
                  <option value="mayors">mayors.csv</option>
                  <option value="players">players.csv</option> -->
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <label for="discovery_method">Select Discovery Methods:</label>
              </div>
              <div class="col-md-8">
                <input type="checkbox" id="santos" name="discovery_method" value="SANTOS" checked> SANTOS (Union Search)&nbsp
                <input type="checkbox" id="josie" name="discovery_method" value="JOSIE"> JOSIE (Join Search)
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <label for="intent_column">Select search column index:</label>
              </div>
              <div class="col-md-8">
                <select id="intent_column" class = "form-control" name="intent_column" required>
                  <option disabled selected>--First Select Query Table--</option>
                </select>
                <!-- <input type="number" class = "form-control" id="intent_column" name="intent_column" min="0" step="1" value="0" required> -->
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-4">
                <label for="k">Select k:</label>
              </div>
              <div class="col-md-8">
                <input type="number" class = "form-control" id="number" name="k" min="1" step="1" value="1" required>
              </div>
            </div>
            <input type="submit" class="btn btn-success form-control" value="Search Tables">
          </form>
          <div id="searching_table" style="display: none;">
            <p style="text-align: center; color: blue;">Searching Tables. This may take longer!!!</p>
          </div>
          <div id="searched_tables" style="width: 100%; overflow-x: auto;"></div>
          <div id="current_query_table" style="width: 100%; overflow-x: auto; overflow-y: scroll;"></div>
        </div>
        <div id="integrate_table_div" class="display_options">
            <h3 style="text-align:center;">Integrate Tables</h3>
            <form method="post" action="discover" enctype="multipart/form-data">
              <div class="row form-group">
                <div class="col-md-4">
                  <label>Select Integration set:</label>
                </div>
                <div class="col-md-8">
                  <select id="select_integration_sets" class = "form-control" name="select_integration_sets">
                    <option disabled selected>--Select Query Table--</option>
                    {% for set in integration_sets %}
                      <option value="{{set}}">{{set}}</option>
                    {% endfor %}
                    <!-- <option value="option1">covid19</option>
                    <option value="option2">mayors</option>
                    <option value="option3">players</option> -->
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-4">
                  <label for="select">Select Methods:</label>
                </div>
                <div class="col-md-8">
                  <input type="checkbox" checked id="alite" name="integration_method" value="ALITE"> ALITE&nbsp
                  <input type="checkbox" id="outer_join" name="integration_method" value="OUTER"> Outer Join
                </div>
              </div>
              <input type="submit" class ="form-control btn-success" value="Integrate Tables">
            </form>
        </div>
      <hr>
      {% include 'partials/footer.html' %}
    
      <script>
        $(document).ready(function() {
          $('#upload_query').click(function(e) {
            e.preventDefault();
            var file_data = $('#query_table').prop('files')[0];
            if (!file_data) {
                alert('Please select a file to upload');
                return;
            }
            var form_data = new FormData();
            form_data.append('query_table', file_data);
            $.ajax({
                url: '/upload_query',
                type: 'POST',
                data: form_data,
                contentType: false,
                processData: false,
                success: function(response) {
                  if (response.success) {
                      $('#notification').html('<p style="color:green; text-align:center;">' + response.message + '</p>');
                  } else {
                      $('#notification').html('<p style="color:red; text-align:center;">' + response.message + '</p>');
                  }
                  $('#query_table').val('')
              },
              error: function(xhr, status, error) {
                  $('#notification').html('<p style="color:red; text-align:center;">' + xhr.responseText + '</p>');
                  $('#query_table').val('')
                }
            });
            });

          $('#submit_prompt').click(function(e){
            e.preventDefault();
            var query_prompt = $('#query_prompt').val();
            var generated_query_name = $("#generated_query_name").val();
            if (!query_prompt || !generated_query_name) {
                alert('Please enter table name and a prompt to generate query table');
                return;
            }
            document.getElementById("generated_table").innerHTML = "";
            var show_generating_table = document.getElementById("generating_table");
            show_generating_table.style.display = "block";
            var form_data = new FormData();
            form_data.append('generated_query_name', generated_query_name);
            form_data.append('query_prompt', query_prompt);
            $.ajax({
              url: '/generate_query',
              type: 'POST',
              data: form_data,
              contentType: false,
              processData: false,
              success: function(response) {
                if (response.success) {
                    $('#notification').html('<p style="color:green; text-align:center;">' + response.message + '</p>');
                    $('#generated_table').html(response.table);
                    var hide_generating_table_success = document.getElementById("generating_table");
                    hide_generating_table_success.style.display = "none";
                } else {
                    $('#notification').html('<p style="color:red; text-align:center;">' + response.message + '</p>');
                    var hide_generating_table_fail = document.getElementById("generating_table");
                    hide_generating_table_fail.style.display = "none";
                }
            },
            error: function(xhr, status, error) {
                $('#notification').html('<p style="color:red; text-align:center;">' + xhr.responseText + '</p>');
                var hide_generating_table_error = document.getElementById("generating_table");
                hide_generating_table_error.style.display = "none";
              }
            });
            
          });
          $('#intent_column').on('change', function() {
            let selectOption = document.getElementById("intent_column");
            let selectedColumn = selectOption.options[selectOption.selectedIndex].text;
            //console.log(selectedColumn);
            $('th, td').removeClass('highlight');
            $('th:contains(' + selectedColumn + '), td:nth-child(' + ($('th:contains(' + selectedColumn + ')').index() + 1) + ')').addClass('highlight');
            //$('th:contains(' + selectedColumn + ')').addClass('highlight');
          });
          $('#discover_query').on('change', function() {
            // Get selected table name
            let discover_query = document.getElementById("discover_query").value;
            var form_data = new FormData();
            form_data.append('query_table_name', discover_query);
            // Send Ajax request to Flask route to load table data
            $.ajax({
              url: '/show_query_table',
              type: 'POST',
              contentType: false,
              processData:false,
              data: form_data,
              success: function(response) {
                // Generate HTML table from DataFrame and replace current table in HTML
                //console.log(response.table);
                $('#current_query_table').html('<br><h3 style="text-align:center; color:blue;">Selected Query Table:</h3><br>'+ response.table);
                $('#current_query_table').css("maxHeight", "300px");
                var options = "<option disabled selected>--Select Column--</option> "
                $.each(response.options, function(key, value) {
                  options += "<option value = '" + value.value + "'>" + value.text + "</option>";
                });
                $("#intent_column").html(options);
              }
            });
          });

          $('#discover_tables_form').submit(function(e){
            e.preventDefault();

            // validate query table input
            if ($('#discover_query').val() == '') {
              alert('Please select a Query Table.');
              return;
            }
            
            // validate discovery method input
            if (!$('input[name="discovery_method"]:checked').length) {
              alert('Please select at least one discovery method.');
              return;
            }
            
            // validate k input
            if ($('#k').val() <= 0) {
              alert('K must be a positive integers greater than 0.');
              return;
            }
            
            // validate query table input
            if ($('#intent_column').val() == '') {
              alert('Please select a Search Column.');
              return;
            }

            // validate intent column input
            // if ($('#intent_column').val() < 0) {
            //  alert('Intent column index must be 0 or a positive integer.');
            //  return;
            // }            
            
            document.getElementById("searched_tables").innerHTML = "";
            var show_searching_table = document.getElementById("searching_table");
            show_searching_table.style.display = "block";
            $.ajax({
              url: '/discover_tables',
              type: 'POST',
              data: $('#discover_tables_form').serialize(),
              success: function(response) {
                console.log(response);
                if (response.success) {
                    $('#notification').html('<p style="color:green; text-align:center;">' + response.message + '</p>');
                    $('#searched_tables').html(response.table);
                    var hide_searching_table_success = document.getElementById("searching_table");
                    hide_searching_table_success.style.display = "none";
                } else {
                    $('#notification').html('<p style="color:red; text-align:center;">' + response.message + '</p>');
                    var hide_searching_table_fail = document.getElementById("searching_table");
                    hide_searching_table_fail.style.display = "none";
                }
            },
            error: function(xhr, status, error) {
                $('#notification').html('<p style="color:red; text-align:center;">' + xhr.responseText + '</p>');
                var hide_searching_table_error = document.getElementById("searching_table");
                hide_searching_table_error.style.display = "none";
              }
            });
            
          });
        });
      </script>
  </body>
</html>